<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="../static/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../static/js/angular.min.js"></script>
    <title>Ang App</title>
    <script>
        var myApp = {
            data: [
                {
                    id: 1,
                    name: "Shahin Khaled",
                    description: "description go there"
                },
                {
                    id: 1,
                    name: "Shahin Khaled",
                    description: "description go there"
                },
                {
                    id: 1,
                    name: "Shahin Khaled",
                    description: "description go there"
                },
                {
                    id: 1,
                    name: "Shahin Khaled",
                    description: "description go there"
                },
                {
                    id: 1,
                    name: "Shahin Khaled",
                    description: "description go there"
                },
                {
                    id: 1,
                    name: "Shahin Khaled",
                    description: "description go there"
                },
                {
                    id: 1,
                    name: "Shahin Khaled",
                    description: "description go there"
                },
                {
                    id: 1,
                    name: "Shahin Khaled",
                    description: "description go there"
                },
                {
                    id: 1,
                    name: "Shahin Khaled",
                    description: "description go there"
                },
                {
                    id: 1,
                    name: "Shahin Khaled",
                    description: "description go there"
                }
            ]
        }
    </script>
</head>
<body>

</body>
</html>